:root {
    --second_bg_color: #f2f2f2;
    --prtimes_color: #24436f;
    --light_blue: #bfc9d7;
    --text: #3b3b3b;
    --sub_text: #a2a2a2;
    --header_release: hsl(215, 43%, 36%);
    --btn_color: #3081c9;
    --line_color: #e4e4e4;
    --footer_text: #797979;
    --footer_line: #e0e0e0;
}

.clock-icon {
    width: 10px;
    height: 10px;
}

/* Header */

.wrapper header {
    min-width: 1126px;
    background-color: var(--prtimes_color);
}

.wrapper header .header-container {
    width: 1126px;
    height: 75px;
    display: flex;
    flex-direction: column;
    padding: 15px 0 10px 0;
    margin: 0 auto;
}

.wrapper header .header-container .header-small-container {
    display: flex;
}

.header-small-container .logo {
    display: flex;
    margin-right: 40px;
    align-items: center;
}

.header-small-container .logo img {
    width: 122px;
    height: 22px;
    margin-right: 15px;
    margin-top: -3px;
}

.header-small-container .logo .logo__text {
    font-size: 1.2rem;
    color: var(--light_blue);
}

.header-small-container .release {
    display: flex;
    background-color: var(--header_release);
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
}

.header-small-container .release li a {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 3px;
    /* padding: 0 7px; */
    color: white;
}

.header-small-container .release li a:not(.disabled):after {
    content: '|';
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 8px;
}

.header-small-container .release li a:hover {
    text-decoration: underline;
}

.header-small-container .keyword {
    position: relative;
}

.header-small-container .keyword input {
    border-radius: 5px;
    text-indent: 15px;
    width: 258px;
    height: 30px;
    font-size: 1.3rem;
}

.header-small-container .keyword .btn {
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 0 4px 4px 0;
}

.header-small-container .keyword .btn:hover {
    cursor: pointer;
}

.header-small-container .keyword .btn-search {
    background-color: var(--btn_color);
}

.main-header .service {
    display: flex;
    align-items: center;
}

.main-header .service li a {
    display: block;
    color: var(--light_blue);
    display: inline-block;
    font-size: 1.3rem;
}

.main-header .service li a:hover {
    color: white;
}

.main-header .service li a:not(.disabled)::after {
    display: inline-block;
    content: "|";
    padding: 0 8px;
}

.main-header .service li .active-item {
    color: white;
    font-weight: 700;
}

/* end Header */

/* Navigation */

.wrapper .nav {
    min-width: 1126px;
    height: 36px;
    background-color: white;
}

.wrapper .nav .categories {
    display: flex;
    width: 1126px;
    height: 36px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav .categories .categories__item a {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--prtimes_color);
    transition: all 0.1s;
    letter-spacing: 1px;
}

.nav .categories .categories__item a:hover {
    font-weight: 700;
}

.nav .categories .categories__item .active-item {
    font-weight: 700;
}

/* end Navigation */

/* Ranking */

.wrapper .ranking {
    min-width: 1126px;
    background-color: var(--second_bg_color);
}

.wrapper .ranking .articles {
    width: 1126px;
    height: 280px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.ranking .articles .articles__item {
    width: 180px;
    height: 240px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ranking .articles .articles__item .order-number {
    position: absolute;
    z-index: 10;
    background-color: var(--prtimes_color);
    padding: 3px 7px;
    font-size: 1.4rem;
    font-style: italic;
    color: white;
    font-weight: 700;
}

.ranking .articles .articles__item .article-link:hover>.cover img {
    transform: scale(1.2);
}

.ranking .articles .articles__item .article-link:hover>.content {
    text-decoration: underline;
    color: var(--btn_color);
}

.ranking .articles .articles__item .article-link .cover {
    overflow: hidden;
}

.ranking .articles .articles__item .article-link .cover img {
    width: 180px;
    height: 101px;
    transition: all 0.8s;
}

.ranking .articles .articles__item .article-link .content {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    font-size: 1.3rem;
}

.ranking .articles .articles__item .stamp {
    padding: 7px;
}

.ranking .articles .articles__item .article-link .content {
    padding: 7px 7px 0 7px;
}

.ranking .articles .articles__item .stamp p {
    font-size: 1.2rem;
    color: var(--sub_text);
}

.ranking .articles .articles__item .stamp .stamp__company-release:hover {
    color: black;
}

.ranking .articles .articles__item .stamp .pv:hover {
    color: black;
}

/* end Ranking */

/* Main */

.wrapper .main {
    min-width: 1126px;
    margin: 30px auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

/* ---content---*/

.wrapper .main .contents {
    width: 800px;
}

.wrapper .main .contents .title {
    font-size: 2.4rem;
}

.wrapper .main .contents .articles {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main .contents .articles .articles__item {
    width: 380px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--line_color);
}

.main .contents .articles .articles__item .article-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
    height: 66px;
}

.main .contents .articles .articles__item .article-link:hover>.content {
    color: var(--btn_color);
    text-decoration: underline;
}

.main .contents .articles .articles__item .article-link .cover img {
    width: 100px;
    height: 66px;
}

.main .contents .articles .articles__item .article-link .content {
    font-size: 1.4rem;
    font-weight: 700;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.main .contents .articles .articles__item .stamp {
    color: var(--sub_text)
}

.main .contents .articles .articles__item .stamp .stamp__time {
    font-size: 1.2rem;
}

.main .contents .articles .articles__item .stamp .stamp__company-release {
    font-size: 1.3rem;
    color: var(--sub_text)
}

.main .contents .articles .articles__item .stamp .stamp__company-release:hover {
    color: black;
}

.main .wrap .control {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.main .wrap .control a {
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    width: 110px;
    height: 38px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--btn_color);
    border-radius: 3px;
}

.main .wrap .control a:hover {
    opacity: 0.8;
}

/* ---end content---*/

/* ---sidebar---*/

.wrapper .main .side {
    width: 312px;
}

.main .side .keyword .title {
    font-size: 1.8rem;
}

.main .side .keyword .hot-keywords {
    margin: 20px 0;
    border-bottom: 1px solid var(--line_color);
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main .side .keyword .hot-keywords .hot-keywords__item a {
    font-size: 1.2rem;
    background-color: var(--second_bg_color);
    display: inline-block;
    margin: 5px 0;
    padding: 5px 8px;
    border-radius: 50px;
    border: 1px solid var(--second_bg_color);
}

.main .side .keyword .hot-keywords .hot-keywords__item a:hover {
    background-color: white;
}

/* ---end sidebar---*/

/* end Main */

/* Footer */

.wrapper footer {
    min-width: 1126px;
    background-color: var(--second_bg_color);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
}

/* ---service--- */

.wrapper footer .contents, .wrapper footer .term, .wrapper footer .copy-right {
    width: 1126px;
    margin: 0 auto;
    display: flex;
}

.wrapper footer .contents {
    border-bottom: 1px solid var(--footer_line);
    padding-bottom: 25px;
}

footer .contents .contents__item {
    width: 281px;
}

footer .contents .contents__item .contents__item__heading {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}

footer .contents .contents__item .services {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .contents .contents__item .services .services__item a {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--footer_text);
    letter-spacing: 0.5px;
}

footer .contents .contents__item .services .services__item a:hover {
    text-decoration: underline;
}

/* ---end service--- */

/* ---term--- */

.wrapper footer .term {
    margin: 18px auto;
}

.wrapper footer .term .terms {
    display: flex;
    gap: 15px;
}

.wrapper footer .term .terms .terms__item a {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--footer_text);
    letter-spacing: 0.5px;
}

.wrapper footer .term .terms .terms__item a:hover {
    text-decoration: underline;
}

/* ---end term--- */

/* ---copyright--- */

.wrapper footer .copy-right p {
    font-size: 1.1rem;
    color: var(--footer_text);
}

/* ---end copyright--- */

/* end Footer */